<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.onion.cosyfans.library_base">


    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--这个权限用于进行网络定位-->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!--这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--获取统计数据-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取通讯录联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--弹窗权限(部分手机下没有该权限会导致Toast不显示)-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--直接拨号权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--下载新房项目附件权限-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />


    <application>
        <!-- FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cc.onion.cosyfans"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/base_file_paths" />

        </provider>


    </application>



</manifest>