<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.onion.cosyfans.module_passport">

    <application>
<!--        登录-->
        <activity
            android:name="cc.onion.cosyfans.passport.activity.SigninActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

<!--        注册登录-->
        <activity
            android:name="cc.onion.cosyfans.passport.activity.SigninWithLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
            <!--注册-->
        <activity
            android:name="cc.onion.cosyfans.passport.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

<!--        重置密码-->

        <activity
            android:name="cc.onion.cosyfans.passport.activity.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
<!--        重置密码2层-->
        <activity
            android:name="cc.onion.cosyfans.passport.activity.ModifyPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <activity
            android:name="cc.onion.cosyfans.passport.activity.FaceBookLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

        <activity
            android:name="cc.onion.cosyfans.passport.activity.GoogleLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

    </application>

</manifest>