<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.onion.cosyfans.module_moment">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="cc.onion.cosyfans.moment.activity.PostMomentActivity"></activity>
        <activity android:name="cc.onion.cosyfans.moment.activity.OwnMomentActivity" />
        <activity android:name="cc.onion.cosyfans.moment.activity.MomentSearchActivity" />
    </application>

</manifest>