<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.onion.cosyfans.module_item">

    <application>


        <activity
            android:name="cc.onion.cosyfans.item.activity.ProductsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ConsyFansActivityTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>